<% provide :title, 'About' %>
<h1>Why do they stay up all night and sleep all day?</h1>
<p>
  Just when, as young children, they’ve turned you into a lark with their early rising, 
  teenagers become vampire-like creatures for whom getting out of bed before noon can 
  be torture.

  The reason is that melatonin, a hormone that signals to our bodies that it’s almost 
  time for sleep, is released two hours later at night in the brains of teenagers than 
  in adults. Melatonin controls your inner clock.

  And, come the morning, when it’s time to get up for school, melatonin is still 
  washing around their systems, making it a real struggle to wake up.

  School starting times force adolescents to keep lark-like hours but, come the 
  weekend, they revert to their natural owl state, staying awake half the night and 
  then enjoying long sleep-ins during which nothing will wake them, not even the sound 
  of a Hoover or drill.
</p>