<% provide :title, 'Contact' %>
<h1>Why MUST they do such stupid things?</h1>
<p>
  Whether it’s bunking off school or posting revealing photographs of themselves 
  online, few will reach adulthood without doing something foolish.

  Dr Jensen says that experimental behaviour is important for teens as they begin the 
  process of establishing their independence from their parents.

  Difficulties arise, however, because the frontal cortex, the area of the brain 
  responsible for problem solving, is not yet developed, meaning teens have difficulty 
  thinking ahead and understanding the consequences of their actions.
</p>