<% provide :title, 'Help' %>
<h1>Why are they so forgetful?</h1>
<p>
  Frustrated that your child is forever in detention for forgetting his or her PE kit?
   Or that they call you at work most days because they’ve failed, yet again, to 
   remember their door key?

  While it appears they just can’t be bothered to think for themselves, when it comes 
  to memory, their brains still have the immature wiring of early childhood, a time 
  when they relied on us for all their needs.

  The more complex areas of the brain, especially the frontal lobes which, among other 
  things, control memory, do not finish developing until they are well into their 20s.

  And, though your teen might claim to be great at multi-tasking, especially while 
  watching TV at the same time as doing homework, they are, in fact, pretty hopeless at 
  it.
</p>