<% provide(:title, "All users") %>

<% if current_user.is_admin? %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= image_tag user.image.url if user.image? %>
        <%= user.username %>
        <%= link_to "delete", user, method: :delete, data: {confirm: "you sure?"} %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @users %>
<% end %>