@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;

 margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {

    color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
body > .container {
  border: 1px solid #e1e1e1;
}
footer {
  margin-top: 280px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
input[type='checkbox'] {
  width: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* category */

.categories_list {
  list-style-type: none;
  li {  
    border: 1px solid $gray-medium-light;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .category-words {
    .category-word {
      margin-left: 5px;
      float: left;
    }   
  }

  .category-info {
    span {
      font-size: 20px;
      font-weight: bold;
    }
    .box-image {
    }
  }

  .link-to-lesson {
    width: 15%;
    float: right;
  }
}

.manage-category {
  margin-top: 15px;
  a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.admin-new-category {
  margin-bottom: 20px;
}

.category-form {
  display: none;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px #EAEAEA solid;
  padding: 10px;
  span {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

/* Users show */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  img {
    height: 70px;
    width:  70px;
  }
}
.edit_request input[type="radio"] {
  width: 15px;
}
.col-state {
  width: 200px;
}
.col-state form {
  margin-left: 10px;
}